html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

.container {
  width: 40rem;
  margin: 0 auto;
}

.projectLabels .project {
  font-size: 1.5rem;
  padding: 1rem;

  background-color: lightskyblue;
}

/* View Project */

.viewProject {
  width: 30rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.viewProject .projectData {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  padding: 1rem;
  color: white;
  background-color: lightseagreen;
}
.viewProject .projectData > * {
  margin: 0;
}

.viewProject .description {
  font-size: 1.5rem;
}

.viewProject .task {
  display: flex;
  gap: 0.5rem;

  padding: 0.5rem;
  background-color: rgb(255, 241, 215);
}
.viewProject .task > * {
  margin: 0;
}