html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

.container {
  width: 40rem;
  margin: 0 auto;
}

.project {
  font-size: 1.5rem;
  padding: 1rem;

  background-color: lightskyblue;
}