html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

input, button {
  font-family: inherit;
}

button {
  cursor: pointer;

  border: none;
  padding: 0.5rem 1rem;
  background-color: royalblue;
  box-shadow: 0 0 0.2rem gray;
  color: white;
}
button:active {
  box-shadow: none;
}

.container {
  width: 40rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.projectLabels {
  width: 30rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.projectLabels .projectContainer {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;

  display: flex;
  gap: 1rem;
  justify-content: space-between;

  border: thin solid royalblue;
  cursor: pointer;
}

.projectContainer input {
  width: 1rem;
}
.projectContainer .project {
  flex: 1;
}

.projectContainer > * {
  margin: 0;
}

/* View Project */

.viewProject {
  width: 30rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.viewProject .projectData {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  padding: 1rem;
  color: white;
  background-color: lightseagreen;
}
.viewProject .projectData > * {
  margin: 0;
}

.viewProject .description {
  font-size: 1.5rem;
}

.viewProject .tasks {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.viewProject .task {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: rgb(255, 241, 215);
  padding: 0.5rem;
}

.viewProject .taskContainer {
  flex: 1;

  display: flex;
  gap: 0.5rem;
  
  cursor: pointer;
}

.viewProject .removeTaskButton {
  padding: 0.2rem 0.5rem;
}

.viewProject .taskContainer p {
  margin: 0;
}

.createTaskContainer {
  display: flex;
  gap: 0.5rem;
}

.createProjectContainer > form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.createTaskContainer input,
.createProjectContainer input {
  padding: 0.5rem;
}